* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 80%;
  margin: 80px auto;
  background-color: #eee;
  padding: 10px 20px;
  font-family: sans-serif;
}
.form-header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.header-title {
  display: inline-block;
  text-align: left;
}
.title {
  text-transform: uppercase;
  letter-spacing: 4px;
}
.sub-title {
  text-transform: capitalize;
  letter-spacing: 2px;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.save-btn {
  color: white;
  background-color: #16a085;
  position: absolute;
  right: 0;
  top: 30px;
}
.form-avatar {
  display: grid;
  /* grid-template-rows: 1fr;
  grid-template-columns: 100px 200px 100px; */
  grid-template-rows: 130px;
  grid-template-columns: 100px 400px 120px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* 
.avatar-description {
  width: 400px;
}
 */
.avatar-img {
  width: 100px;
  margin-top: 10px;
}

.btn-file__upload {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.form-personal_info {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, 80px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.form-label {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
.input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  font-size: 12px;
}
.input::placeholder {
  font-size: 12px;
  text-transform: uppercase;
}
.form-company_info {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 40px 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.company-info {
  grid-area: 1 / 1 / 2 / 4;
}
.form-security_info {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 40px 80px;
  grid-template-columns: repeat(3, 1fr) 100px;
  grid-gap: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.security-info {
  grid-area: 1 / 1 / 2 / 5;
}
.pass-btn {
  justify-self: center;
  align-self: center;
}
.confirm-btn {
  padding: 5px 10px;
  color: white;
  background-color: #16a085;
}
