* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  margin: 0;
}
.form {
  width: 80%;
  margin: 80px auto;
  background-color: #eee;
  padding: 10px 20px;
  font-family: sans-serif;
}
.form-header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.header-title {
  display: inline-block;
  text-align: left;
}
.title {
  text-transform: uppercase;
}
.header-btn {
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.save-btn {
  color: white;
  background-color: #16a085;
  position: absolute;
  right: 0;
  top: 30px;
}
.form-avatar {
  display: grid;
  /* grid-template-rows: 1fr;
  grid-template-columns: 100px 200px 100px; */
  grid-template-rows: 130px;
  grid-template-columns: 100px 400px 120px;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* 
.avatar-description {
  width: 400px;
}
 */
.avatar-img {
  width: 100px;
  margin-top: 10px;
}
.upload {
}
.btn-file__upload {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
